NODE_ENV=development
PORT=3000

# Change to your remote URL after uploading into production
APP_TAXES_URL=localhost

# Credentials for remote pg_dump
PGPASSWORD=
REMOTE_HOST=
REMOTE_PORT=
REMOTE_DB_NAME=
REMOTE_DB_USER=
