.notification-body {
  background-color: #2e3139;
  border-color: transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 40px;
  padding: 5px;
}

.notification-description {
  color: white;
}

.notification-icon {
  width: 18px;
  height: 18px;
  background: #000;
}

.notification-close-icon:hover {
  background-color: #202226;
}
