.text-input {
  margin-bottom: 10px;
}

input:focus {
  outline: none;
}

/* email and password input  */
#input {
  display: block;
  background-color: #2e3139;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  margin-top: 10px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Remove white input background on autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

::placeholder {
  color: rgb(213, 207, 207);
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
}

:-ms-input-placeholder {
  color: rgb(213, 207, 207);
}

::-ms-input-placeholder {
  color: rgb(213, 207, 207);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
