ul li {
  list-style: none;
  text-decoration: none;
  background-color: #2e3139;
}

.link,
#signout {
  text-decoration: none;
  color: white;
  background-color: #2e3139;
  padding: 10px 10px 10px 40px;
  display: block;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

#signout {
  width: 100%;
  cursor: pointer;
}

#signout:hover {
  background-color: #3b3e48;
}

.active {
  color: #15c45e;
  font-weight: bold;
  background-color: #202226;
}

#icon {
  background-color: inherit;
  width: 13px;
  height: 13px;
  padding-right: 5px;
}

.sign {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2e3139;
}

.logout {
  background-color: #2e3139;
  width: 13px;
  height: 13px;
  padding-left: 42px;
  padding-right: 0;
}

#side {
  margin-bottom: 20px;
}
