ul {
  background-color: #2e3139;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 20px;
}

.link {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bolder;
  background-color: #2e3139;
}

.active {
  color: #15c45e;
  font-size: 13px;
}
